body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Zen Kurenaido', sans-serif;
}

.row {
  display: flex;
}

.justify-content-end {
  justify-content: end;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-right {
  margin-right: 10px;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.planner-notes {
  width: 430px;
  height: 100px;
}

.button-add-entry {
  border: solid;
  border-radius: 4px;
  padding: 5px 40px;
  background-color: #d8e2dc;
}

.modal-outer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 10px 75px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.add-entry-header {
  margin: 0;
  padding-bottom: 17px;
}

/* .text-align-center {
  text-align: center;
} */

/* .button-add-entry {

} */
.hidden {
  display: none;
}

.days-button {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
  width: 7rem;
}

tr {
  border-left: 2px red;
}

table {
  border: solid;
  width: 1000px;
  border-collapse: collapse;
}

th {
  text-align: start;
  border: 1px solid black;
}

thead {
  background-color: darkgray;
}

td,
th {
  border: 1px solid black;
  padding: 5px;
}

tbody > tr:nth-child(odd) {
  background-color: #eee;
}

/* tr > td:first-child {
  border-right: 1px solid black;
} */

/* tr > th:first-child {

} */
